











/*OAKLEY*/
.oakley {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  margin-top: 306px;
}

.two_colums_padding_size {
  padding-top: 160px;
  box-sizing: border-box;
}



/*FEYNMAN*/

/* высота блока*/
/*фон*/
/*feynman позиция родителя*/
.feynman {
  position: relative;
  background-color: #f2f2f2;
  background-image: url("../images/feynman.png");
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  min-height: 890px;
}

/*размер заголовка и параметры текста*/
.feynman__title {
  font-size: 120px;
  font-weight: 700;
  line-height: 1.15em;
  max-width: 648px;
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  box-sizing: border-box;
}

/*размер подзаголовка и параметры текста*/
.feynman__subtitle {
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  max-width: 648px;
  width: 100%;
  text-align: center;
  margin: 70px auto 0;
}

/*ссылка feynman__link позиционирование*/
.feynman__link {
  position: absolute;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
}

/*стрелочка в ссылке*/
.feynman__link::after {
  content: " \2192";
  color: #2f80ed;
}



/*DIGITS*/

.digits {
  padding: 100px 0;
  box-sizing: border-box;
}

/* заголовок section-title параметры текста и ширина*/
.section-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.15em;
  width: 60%;
  text-align: center;
  margin: 0 auto 20px;
}

/*section-subtitle параметры теста и ширина*/
.section-subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  width: 60%;
  text-align: center;
  margin: auto;
}

/*флекс таблица*/
/*выравнивание эл table__cell*/
.table {
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-end;
  width: 1100px;
  display: flex;
  margin: auto;
  padding: 0;
}


/*параметры шрифта заголовка table__heading*/
.table__heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.15em;
  margin: 0;
}

/*цвет текста и ширина убираем маркеру списка*/
.table__cell {
  color: black;
  width: 250px;
  padding-top: 60px;
  list-style-type: none;
  box-sizing: border-box;
}

/*парметры шрифта table__text и отступы*/
.table__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2em;
  padding-top: 20px;
  margin: 0;
  box-sizing: border-box;
}



/*KHAN*/

.khan {
  padding-top: 105px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

/*позиционирование контейнера с инфо*/
.khan__container {
  width: 80%;
  margin: auto;
}

/*заголовок-автор*/
.khan__author {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
}

/*заголовок-книга*/
.khan__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.15em;
  padding-bottom: 50px;
  margin: 0;
  box-sizing: border-box;
}

/*цитата*/
.khan__quote {
  max-width: 790px;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}

/*источники*/
.khan__quote-author {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.15em;
  font-style: normal;
  padding-top: 36px;
  box-sizing: border-box;
}

.khan__quote-author-subline {
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.15em;
  font-style: normal;
  padding-top: 10px;
  box-sizing: border-box;
}

/*контейнер с картинкой*/
.khan__book-container {
  display: flex;
  padding-top: 68px;
  box-sizing: border-box;

}

/*размер книги*/
.khan__book-pic {
  width: 608px;
  height: 620px;
  background-image: url(../images/khan-book.jpg);
  margin-right: 48px;
}

/*ссылка на покупку*/
.khan__buy-link {
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
  color: #2f80ed;
}

.khan__buy-link::after {
  content: " \2192";
  color: #2f80ed;
}





/*KAUFMAN*/
.kaufman {
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  background-color: #1f1f1f;
  box-sizing: border-box;
}

/*размеры блока треугольника позиционирование треуголник*/
.kaufman__triangle{
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
}

/*цвет заголовка*/
.section-title_theme_dark {
  color: white;
  z-index: 1;
  position: relative;
}

/*цвет подзаголовка*/
.section-subtitle_theme_dark{
  color: white;
  z-index: 1;
  position: relative;
}

.table_theme_dark {
  position: relative;
  z-index: 1;
}
/* параметры для темной темы */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  padding-top: 80px;
  box-sizing: border-box;
}

.table__text_theme_dark {
  color: white;
}




/*RESOURCES*/
.resources {
  padding: 100px 0 217px;
  box-sizing: border-box;
}

.resources__logo-zone {
  width: 1100px;
  margin: auto;
  padding: 80px 0 0 0;
  box-sizing: border-box;
  display: flex;
}

.resources__logo {
  list-style-type: none;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

.resources__link {
  width: 270px;
  height: 38px;
}





/*FOOTER*/
/*высота блока футер*/
.footer {
  background-color: #1f1f1f;
}


/*ширина блока columns и отступы*/
.footer__columns {
  width: 90%;
  padding: 60px 0 40px;
  color: white;
  justify-content: space-between;
  margin: auto;
  min-height: 350px;
  display: flex;
  box-sizing: border-box;
}

/*колонки*/
.footer__column {
  display: flex;
  flex-direction: column;
}

/*ширина 1й колонки с логотипом и расположение контента*/
.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;

}

/*отступы автора*/
.footer__author {
  padding: 18px 0 18px;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
  box-sizing: border-box;
}
/*2я колонка*/

.footer__column_content_info {
justify-content: flex-start;
}

/*заголовок текст*/
.footer__column-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

/*ссылки параметры текста и отступы*/
.footer__column-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  color: white;
}


/*сброс маркеров списка и отступы*/
.footer__column-links {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 18px;
  padding: 0;
}

/*3я колонка размеры иконок*/
/*оазмеры иконок и отступ*/
.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column_content_social {
  justify-content: flex-start;
}
