
/*общие правила*/

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  border-left:1px solid #C0C0C0;
  border-right:1px solid #C0C0C0;
}

/*всем эл border-box*/
* {
  box-sizing: border-box;
  margin: 0;
}

/*Флекс контейнер общее правило*/
.flex-container {
  display: flex;
}

  /*рамки низ*/
  .border-bottom{
    border-bottom: 1px solid #C0C0C0;
  }


/*HEADER*/

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

/*логотип размеры блока*/
.logo {
  width: 228px;
  height: 32px;
}

/*Лого позиционирование и отступы*/
.logo__place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

/*Заголовок header позиционирование размер блока*/
.header__title {
 margin-left: 64px;
 width: 730px;
 align-items: center;
}

/*параметры текста для title*/
.header__text {
  font-size: 102px;
  font-weight: 700;
  line-height: 96px;
}

/*subtitle позиционирование размер блока ubtitle парамтры текста*/
.header__subtitle {
  position: absolute;
  z-index: 1;
  left: 64px;
  bottom: 30px;
  width: 388px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

/*Правила для ссылки header__link*/

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

/*стрелочка в ссылке*/
.header__link::after {
  content: " \2192";
}

/*Главная картинка header__image*/
.header__main-image{
  width: 765px;
  height: 608px;
}
/*header image позиционирование*/
.header__main-image__place_header {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/*Синий квадрат*/
.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}

/* синий квадрат позиционирование*/
.header__square-pic_place_header {
  position:absolute;
  top: 64px;
  right: 0;
}



/*DESCRIPTION*/

/*two-colums выравнивание*/
.description_content_center {
  justify-content: center;
}

/*two-colums ширина и отступы*/
.description__two-colums {
  width: 80%;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}
/*two-colums__brief параметры текста и ширина*/
.description__brief {
  font-size: 18px;
  font-weight: 400;
  color: #2f80ed;
  line-height: 1.2em;
  width: 175px;
}

/*Параграфы*/
/*two-colums__main-text выравнивание*/
.description__main-text {
  width: 80%;
  min-width: 784px;
}

/*two-colums__paragraf параметры текста*/
.description__paragraf {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}

/*отсутп между параграфами*/
.description__paragraf:nth-of-type(2n) {
  padding: 30px 0;
}

/*выделение жирным*/
.description__span-accent {
  font-weight: 700;
}




/*DIGITS*/

.digits__theme_light {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* заголовок section-title параметры текста и ширина*/
.section-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.15em;
  width: 60%;
  text-align: center;
}

/*отступ сверху и снизу для section-title*/
.section-title__place_center {
  padding-bottom: 20px;
  margin: auto;
}

/*section-subtitle параметры теста и ширина*/
.section-subtitle {
  font-size: 27px;
  font-weight: 400;
  line-height: 34px;
  width: 60%;
  text-align: center;
}

/*subtitle по центру*/
.section-subtitle__place_center {
  margin: auto;
}

/*флекс таблица*/
/*выравнивание эл table__cell*/
.table {
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-end;
  width: 1100px;
}

/*таблица в центре*/
.table__place_center {
  margin: auto;
}

/*параметры шрифта заголовка table__heading*/
.table__heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.15em;
}

/*убираем маркеру списка*/
.table__cell_marker-none{
  list-style-type: none;
}

/*цвет текста и ширина*/
.table__cell_theme_light {
  color: black;
  width: 250px;
  padding-top: 60px;
}

/*парметры шрифта table__text и отступы*/
.table__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2em;
  padding-top: 20px;
}



/*FEYNMAN*/

/* высота блока*/
/*фон*/
/*feynman позиция родителя*/
.feynman {
  position: relative;
  background-color: #f2f2f2;
  background-image: url("../images/feynman.png");
  background-position: left 0px bottom 0px;
  background-repeat: no-repeat;
  height: 890px;
}

/*размер заголовка и параметры текста*/
.feynman__title {
  font-size: 120px;
  font-weight: 700;
  line-height: 1.15em;
  width: 648px;
  text-align: center;
  margin: auto;
}

/*размер подзаголовка и параметры текста*/
.feynman__subtitle {
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  width: 648px;
  text-align: center;
  padding-top: 70px;
  margin: auto;
}

/*ссылка feynman__link позиционирование*/
.feynman__link {
  position: absolute;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  top: 50%;
  right: 48px;
}

/*стрелочка в ссылке*/
.feynman__link::after {
  content: " \2192";
  color: #2f80ed;
}

.feynman__link__text{
  text-decoration: none;
  color: #2f80ed;
}

/*KAUFMAN*/
.kaufman {
  overflow: hidden;
}
/*отступ сверху*/
.kaufman__theme_dark {
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  background-color: #1f1f1f;
}


/*размеры треугольника*/
.kaufman__triangl_size {
  width: 877px;
  height: 877px;
}

/*размеры блока треугольника*/
.kaufman__triangl{
  width: 877px;
  height: 877px;
}

/*позиционирование треуголника*/
.kaufman__triangl__place_kaufman {
  position: absolute;
  right: -210px;
}

/*цвет заголовка*/
.section-title__theme_dark {
  color: white;
  z-index: 1;
  position: relative;
}

/*цвет подзаголовка*/
.section-subtitle__theme_dark{
  color: white;
  z-index: 1;
  position: relative;
}

.table__theme_dark {
  position: relative;
  z-index: 1;
}
/* параметры для темной темы */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  padding-top: 80px;
}



/*FOOTER*/
/*высота блока футер*/
.footer {
  background-color: #1f1f1f;
}


/*ширина блока columns и отступы*/
.footer__columns {
  width: 90%;
  padding-bottom: 40px;
  color: white;
  justify-content: space-between;
  padding-top: 60px;
  margin: auto;
  min-height: 350px;
}

/*колонки*/
/*ширина 1й колонки с логотипом и расположение контента*/
.footer__column_content_copyright {
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

/*отступы автора*/
.footer__author {
  padding-top: 18px;
  padding-bottom: 18px;
}
/*2я колонка*/
/*цвет текста ссылок*/
.footer__column-link_color_white {
  color: white;
}

/*заголовок текст*/
.footer__column-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

/*ссылки параметры текста и отступы*/
.footer__column-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  color: white;
}


/*сброс маркеров списка и отступы*/
.footer__column-links {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 18px;
  padding: 0;
}

/*3я колонка размеры иконок*/
/*оазмеры иконок и отступ*/
.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
