/*кейфрейм для вращения квадрата*/
@keyframes rotation-move {
  from {
    transform: rotate(0deg);
  }
   to {
    transform: rotate(360deg);
  }
}
/*общие правила*/

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  box-sizing: border-box;

}

/*HEADER*/

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

/*логотип размеры блока*/
.logo {
  width: 228px;
  height: 32px;
}

/*Лого позиционирование и отступы*/
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
  background-image: url(../images/logo_place_header.svg);
}

/*Заголовок header позиционирование размер блока параметры текста для title*/
.header__title {
 margin: 0 0 0 64px;
 max-width: 730px;
 width: 100%;
 font-size: 102px;
 font-weight: 700;
 line-height: 96px;
 position: relative;
 z-index: 2;
}


/*subtitle позиционирование размер блока ubtitle парамтры текста*/
.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  max-width: 388px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  z-index: 2;
  margin: 0;
}

/*Правила для ссылки header__link*/

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

/*стрелочка в ссылке*/
.header__link::after {
  content: " \2192";
}

/*Главная картинка header__image позиционирование*/
.header__main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  object-fit: fill;
}

/*Синий квадрат позиционирование*/
.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position:absolute;
  top: 64px;
  right: 0;
}

.rotation {
  animation: rotation-move 20s linear infinite;
}




/*DESCRIPTION*/

.description {
  display: flex;
  justify-content: center;
}

/*two-colums ширина и отступы*/
.two-columns {
  width: 80%;
  justify-content: space-between;
  padding-top: 100px;
  display: flex;
}
/*two-colums__brief параметры текста и ширина*/
.two-columns__brief {
  font-size: 18px;
  font-weight: 400;
  color: #2f80ed;
  line-height: 1.2em;
  max-width: 175px;
  width: 100%;
  margin: 0;
}

/*Параграфы*/
/*two-colums__main-text выравнивание*/
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

/*two-colums__paragraf параметры текста*/
.two-columns__paragraph {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  padding-bottom: 30px;
  margin: 0;
}

/*отсутп между параграфами*/
.two-columns__paragraph:last-of-type {
  padding: 0;
}

/*выделение жирным*/
.two-columns__span-accent {
  font-weight: 700;
}







/*TECHNIQUES*/
.techniques {
  width: 80%;
  margin: auto;
  padding: 100px 0 0 0;
  box-sizing: border-box;

}

/*блок cards позиционирование, flex*/
.cards {
  display: flex;
  width: 920px;
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  flex-wrap: wrap;
}

/*снимаем маркеры списка*/
.cards__item {
  list-style-type: none;
  width: 240px;
  margin-right: 100px;
  box-sizing: border-box;
}

.cards__item:nth-of-type(3) {
  margin-right: 0;
}

.cards__item:nth-of-type(5) {
  margin-right: 0;
}

/*размеры картинок округление и отступы*/
.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 60px 40px 43px 40px;
  box-sizing: border-box;
}

/*заголовки*/
.cards__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.15em;
  margin: 0;
  text-align: center;
}

/*стили описаний карточек*/
.cards__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  margin: 0;
  padding-top: 16px;
  box-sizing: border-box;
}




/*VIDEO*/
.video {
  padding-top: 100px;
  box-sizing: border-box;
  position: relative;
}

/*позиционирование контейнера с видео*/
.video__iframes {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  position: absolute;
  left: 0;
  right: 0;
}

/**/
.video__iframe {
  width: 515px;
  height: 316px;
}

.video__iframe:first-child {
  margin-right: 20px;
}




/*OAKLEY*/
.oakley {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  margin-top: 306px;
}

.two_colums_padding_size {
  padding-top: 160px;
  box-sizing: border-box;
}



/*FEYNMAN*/

/* высота блока*/
/*фон*/
/*feynman позиция родителя*/
.feynman {
  position: relative;
  background-color: #f2f2f2;
  background-image: url("../images/feynman.png");
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  min-height: 890px;
}

/*размер заголовка и параметры текста*/
.feynman__title {
  font-size: 120px;
  font-weight: 700;
  line-height: 1.15em;
  max-width: 648px;
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  box-sizing: border-box;
}

/*размер подзаголовка и параметры текста*/
.feynman__subtitle {
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  max-width: 648px;
  width: 100%;
  text-align: center;
  margin: 70px auto 0;
}

/*ссылка feynman__link позиционирование*/
.feynman__link {
  position: absolute;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
}

/*стрелочка в ссылке*/
.feynman__link::after {
  content: " \2192";
  color: #2f80ed;
}



/*DIGITS*/

.digits {
  padding: 100px 0;
  box-sizing: border-box;
}

/* заголовок section-title параметры текста и ширина*/
.section-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.15em;
  width: 60%;
  text-align: center;
  margin: 0 auto 20px;
}

/*section-subtitle параметры теста и ширина*/
.section-subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  width: 60%;
  text-align: center;
  margin: auto;
}

/*флекс таблица*/
/*выравнивание эл table__cell*/
.table {
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-end;
  width: 1100px;
  display: flex;
  margin: auto;
  padding: 0;
}


/*параметры шрифта заголовка table__heading*/
.table__heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.15em;
  margin: 0;
}

/*цвет текста и ширина убираем маркеру списка*/
.table__cell {
  color: black;
  width: 250px;
  padding-top: 60px;
  list-style-type: none;
  box-sizing: border-box;
}

/*парметры шрифта table__text и отступы*/
.table__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2em;
  padding-top: 20px;
  margin: 0;
  box-sizing: border-box;
}



/*KHAN*/

.khan {
  padding-top: 105px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

/*позиционирование контейнера с инфо*/
.khan__container {
  width: 80%;
  margin: auto;
}

/*заголовок-автор*/
.khan__author {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
}

/*заголовок-книга*/
.khan__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.15em;
  padding-bottom: 50px;
  margin: 0;
  box-sizing: border-box;
}

/*цитата*/
.khan__quote {
  max-width: 790px;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}

/*источники*/
.khan__quote-author {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.15em;
  font-style: normal;
  padding-top: 36px;
  box-sizing: border-box;
}

.khan__quote-author-subline {
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.15em;
  font-style: normal;
  padding-top: 10px;
  box-sizing: border-box;
}

/*контейнер с картинкой*/
.khan__book-container {
  display: flex;
  padding-top: 68px;
  box-sizing: border-box;

}

/*размер книги*/
.khan__book-pic {
  width: 608px;
  height: 620px;
  background-image: url(../images/khan-book.jpg);
  margin-right: 48px;
}

/*ссылка на покупку*/
.khan__buy-link {
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
  color: #2f80ed;
}

.khan__buy-link::after {
  content: " \2192";
  color: #2f80ed;
}





/*KAUFMAN*/
.kaufman {
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  background-color: #1f1f1f;
  box-sizing: border-box;
}

/*размеры блока треугольника позиционирование треуголник*/
.kaufman__triangle{
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
}

/*цвет заголовка*/
.section-title_theme_dark {
  color: white;
  z-index: 1;
  position: relative;
}

/*цвет подзаголовка*/
.section-subtitle_theme_dark{
  color: white;
  z-index: 1;
  position: relative;
}

.table_theme_dark {
  position: relative;
  z-index: 1;
}
/* параметры для темной темы */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  padding-top: 80px;
  box-sizing: border-box;
}

.table__text_theme_dark {
  color: white;
}




/*RESOURCES*/
.resources {
  padding: 100px 0 217px;
  box-sizing: border-box;
}

.resources__logo-zone {
  width: 1100px;
  margin: auto;
  padding: 80px 0 0 0;
  box-sizing: border-box;
  display: flex;
}

.resources__logo {
  list-style-type: none;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

.resources__link {
  width: 270px;
  height: 38px;
}





/*FOOTER*/
/*высота блока футер*/
.footer {
  background-color: #1f1f1f;
}

.logo_place_footer{
  background-image: url(../images/logo_place_footer.svg);
}

/*ширина блока columns и отступы*/
.footer__columns {
  width: 90%;
  padding: 60px 0 40px;
  color: white;
  justify-content: space-between;
  margin: auto;
  min-height: 350px;
  display: flex;
  box-sizing: border-box;
}

/*колонки*/
.footer__column {
  display: flex;
  flex-direction: column;
}

/*ширина 1й колонки с логотипом и расположение контента*/
.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;

}

/*отступы автора*/
.footer__author {
  padding: 18px 0 18px;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
  box-sizing: border-box;
}
/*2я колонка*/

.footer__column_content_info {
justify-content: flex-start;
}

/*заголовок текст*/
.footer__column-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

/*ссылки параметры текста и отступы*/
.footer__column-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  color: white;
}


/*сброс маркеров списка и отступы*/
.footer__column-links {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 18px;
  padding: 0;
}

/*3я колонка размеры иконок*/
/*оазмеры иконок и отступ*/
.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column_content_social {
  justify-content: flex-start;
}
